web/
/sessions/*
/data/*.json
*.pyc
*.csv
/python
.idea
/.settings
/data/*.db
!/plugins/proto.py
!/plugins/mobile_app.py
!/plugins/signaling_examples.py
!/plugins/system_update.py
!/plugins/plugin_manager.py
!/plugins/flow_sensors.py
/.vscode
.Apple*
.DS_Store

